---
title: Feli concepts
category: documentation
---

<script lang="ts">
	import { base } from '$app/paths';
</script>


# {title}

## Concept around Feli

A front-end-only web-app could be deployed on a CDN (like cloudflare) or could be installed locally.

<img src="{base}/feli_concept.svg" alt="feli_concept.svg" />
